### Libraries

In [75]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import openpyxl as opexl

## TFP

In [76]:
AG_TFP = pd.read_excel(r'CSVs\AgTFPInternational2022 (1).xlsx', sheet_name='AG TFP')
AG_TFP.head()

,Agricultural total factor productivity (TFP) index,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Order,FAO,ISO3,Country/territory,Region,Sub-Region,Inc I,Inc II,Notes I,Notes II,...,2013.000000,2014.000000,2015.0,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
2,1,159,NGA,Nigeria,SSA,"SSA, Nigeria",MI-L,MI-L,NaN,NaN,...,93.707233,100.728119,100.0,103.857028,99.859013,103.918127,97.971063,98.633801,102.095248,106.095177
3,2,53,BEN,Benin,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,106.102082,107.393032,100.0,103.757575,111.918267,100.178425,99.407018,98.830171,101.003421,95.495671
4,3,107,CIV,Côte d'Ivoire,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,99.279135,99.044734,100.0,94.664846,98.316924,96.202858,90.789667,90.228890,87.304128,86.214555

In [77]:
AG_TFP = AG_TFP.drop([0])
AG_TFP.head()

,Agricultural total factor productivity (TFP) index,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71
1,Order,FAO,ISO3,Country/territory,Region,Sub-Region,Inc I,Inc II,Notes I,Notes II,...,2013.000000,2014.000000,2015.0,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
2,1,159,NGA,Nigeria,SSA,"SSA, Nigeria",MI-L,MI-L,NaN,NaN,...,93.707233,100.728119,100.0,103.857028,99.859013,103.918127,97.971063,98.633801,102.095248,106.095177
3,2,53,BEN,Benin,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,106.102082,107.393032,100.0,103.757575,111.918267,100.178425,99.407018,98.830171,101.003421,95.495671
4,3,107,CIV,Côte d'Ivoire,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,99.279135,99.044734,100.0,94.664846,98.316924,96.202858,90.789667,90.228890,87.304128,86.214555
5,4,81,GHA,Ghana,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,92.056688,99.874571,100.0,97.481197,94.779933,98.773913,100.948648,100.155947,103.421249,104.656178

In [78]:
AG_TFP = AG_TFP.rename(columns = AG_TFP.loc[1, :]).drop(1)

In [79]:
AG_TFP.head()

,Order,FAO,ISO3,Country/territory,Region,Sub-Region,Inc I,Inc II,Notes I,Notes II,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
2,1,159,NGA,Nigeria,SSA,"SSA, Nigeria",MI-L,MI-L,NaN,NaN,...,93.707233,100.728119,100.0,103.857028,99.859013,103.918127,97.971063,98.633801,102.095248,106.095177
3,2,53,BEN,Benin,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,106.102082,107.393032,100.0,103.757575,111.918267,100.178425,99.407018,98.830171,101.003421,95.495671
4,3,107,CIV,Côte d'Ivoire,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,99.279135,99.044734,100.0,94.664846,98.316924,96.202858,90.789667,90.228890,87.304128,86.214555
5,4,81,GHA,Ghana,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,92.056688,99.874571,100.0,97.481197,94.779933,98.773913,100.948648,100.155947,103.421249,104.656178
6,5,90,GIN,Guinea,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,98.260130,99.165068,100.0,100.972708,97.062834,96.966560,100.155529,99.990104,100.184405,98.836276

In [80]:
AG_TFP = AG_TFP.set_index(AG_TFP['Order'].values)

In [81]:
AG_TFP.head()

,Order,FAO,ISO3,Country/territory,Region,Sub-Region,Inc I,Inc II,Notes I,Notes II,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
1,1,159,NGA,Nigeria,SSA,"SSA, Nigeria",MI-L,MI-L,NaN,NaN,...,93.707233,100.728119,100.0,103.857028,99.859013,103.918127,97.971063,98.633801,102.095248,106.095177
2,2,53,BEN,Benin,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,106.102082,107.393032,100.0,103.757575,111.918267,100.178425,99.407018,98.830171,101.003421,95.495671
3,3,107,CIV,Côte d'Ivoire,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,99.279135,99.044734,100.0,94.664846,98.316924,96.202858,90.789667,90.228890,87.304128,86.214555
4,4,81,GHA,Ghana,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,92.056688,99.874571,100.0,97.481197,94.779933,98.773913,100.948648,100.155947,103.421249,104.656178
5,5,90,GIN,Guinea,SSA,"SSA, Western",MI-L,MI-L,NaN,NaN,...,98.260130,99.165068,100.0,100.972708,97.062834,96.966560,100.155529,99.990104,100.184405,98.836276

In [82]:
TFP_ind = AG_TFP.loc[AG_TFP['Country/territory'] == 'India']

In [83]:
TFP_ind = TFP_ind.loc[:, 1990:2020]
TFP_ind.head()

,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
103,68.606299,68.649885,70.082351,70.409601,71.16675,71.448308,72.317571,71.558124,71.488288,72.929551,...,93.439504,96.074473,99.425953,100.994749,100.0,103.545812,109.456592,114.170209,115.053906,111.434592

In [84]:
TFP_ind = TFP_ind.transpose()

In [85]:
TFP_ind = TFP_ind.rename(columns = { 103: 'AG_TFP_IND'})

In [86]:
TFP_ind.head()

        AG_TFP_IND
1990.0   68.606299
1991.0   68.649885
1992.0   70.082351
1993.0   70.409601
1994.0   71.166750

In [87]:
TFP_ind['0'] = [x for x in range(TFP_ind.size)]
TFP_ind['Year'] = TFP_ind.index

In [88]:
TFP_ind.index = TFP_ind['0'].values

In [89]:
TFP_ind = TFP_ind.drop(columns='0')

In [90]:
TFP_ind['Year'] = TFP_ind['Year'].astype(int)

In [91]:
TFP_ind.head()

   AG_TFP_IND  Year
0   68.606299  1990
1   68.649885  1991
2   70.082351  1992
3   70.409601  1993
4   71.166750  1994

In [92]:
TFP_ind_2 = TFP_ind.copy()

In [93]:
TFP_ind_2 = TFP_ind_2[["Year", "AG_TFP_IND"]]

In [94]:
TFP_ind = TFP_ind_2

In [95]:
TFP_ind = TFP_ind.set_index(TFP_ind['Year'].values)

In [96]:
TFP_ind = TFP_ind.drop(columns = 'Year')

In [97]:
TFP_ind.head(3)

      AG_TFP_IND
1990   68.606299
1991   68.649885
1992   70.082351

## Precipitation

In [98]:
precip = pd.read_csv(r'CSVs\average-precipitation-per-year.csv')
precip.head()

  Entity Code  Year  Annual precipitation
0  India  IND  1985             1011.7491
1  India  IND  1986             1062.8413
2  India  IND  1987              895.0952
3  India  IND  1988             1237.4207
4  India  IND  1989             1141.2878

In [99]:
precip = precip.loc[:, ['Year', 'Annual precipitation']]
precip.head()

   Year  Annual precipitation
0  1985             1011.7491
1  1986             1062.8413
2  1987              895.0952
3  1988             1237.4207
4  1989             1141.2878

In [100]:
precip = precip.loc[precip['Year'].isin([x for x in range(1990, 2021)]), :]

In [101]:
precip = precip.set_index(precip['Year'].values)

In [102]:
precip = precip.drop(columns = 'Year')
precip.head(3)

      Annual precipitation
1990             1431.0149
1991             1134.9230
1992             1000.0663

In [103]:
precip = precip.rename(columns= {"Annual precipitation": "ANN_PRCP"})
precip.head(3)

       ANN_PRCP
1990  1431.0149
1991  1134.9230
1992  1000.0663

## Cereal Yield

In [104]:
ylds = pd.read_csv(r'CSVs\cereal-yield.csv')
ylds.head()

,Country,Year,Almond: Yield,Banana: Yield,Barley: Attainable yield,Barley: Yield,Barley: Yield gap,Bean: Yield,Cassava: Attainable yield,Cassava: Yield,...,triticale_yield,true_hemp__raw_or_retted_yield,tung_nuts_yield,vanilla__raw_yield,vegetables_yield,vetches_yield,walnuts_yield,watermelons_yield,yams_yield,yautia_yield
0,India,1985,NaN,17.706299,5.17,1.2416,3.9284,0.3307,27.96,18.546000,...,NaN,NaN,NaN,NaN,8.8316,NaN,0.8824,11.888100,NaN,NaN
1,India,1986,NaN,19.034000,5.17,1.4337,3.7363,0.3287,27.96,17.716000,...,NaN,NaN,NaN,NaN,8.9166,NaN,0.9000,12.516999,NaN,NaN
2,India,1987,NaN,19.282799,5.17,1.3631,3.8069,0.3719,27.96,18.147000,...,NaN,NaN,NaN,NaN,8.9106,NaN,1.0455,12.533299,NaN,NaN
3,India,1988,NaN,11.979799,5.17,1.3799,3.7901,0.4283,27.96,20.180700,...,NaN,NaN,NaN,NaN,9.6356,NaN,0.9091,12.580600,NaN,NaN
4,India,1989,NaN,19.258400,5.17,1.5925,3.5775,0.4026,27.96,19.384699,...,NaN,NaN,NaN,NaN,9.7683,NaN,0.6939,12.547800,NaN,NaN

In [105]:
ylds.columns.values

array(['Country', 'Year', 'Almond: Yield', 'Banana: Yield',
       'Barley: Attainable yield', 'Barley: Yield', 'Barley: Yield gap',
       'Bean: Yield', 'Cassava: Attainable yield', 'Cassava: Yield',
       'Cassava: Yield gap', 'Cereal: Yield', 'Cocoa: Yield',
       'Coffee: Yield', 'Cotton: Attainable yield', 'Cotton: Yield',
       'Cotton: Yield gap', 'Groundnut: Attainable yield',
       'Groundnut: Yield', 'Groundnut: Yield gap', 'Lettuce: Yield',
       'Corn: Attainable yield', 'Corn: Yield', 'Corn: Yield gap',
       'Millet: Attainable yield', 'Millet: Yield', 'Millet: Yield gap',
       'Oat: Yield', 'Oil palm: Attainable yield', 'Oil palm: Yield',
       'Oil palm: Yield gap', 'Orange: Yield', 'Pea: Yield',
       'Potato: Attainable yield', 'Potato: Yield', 'Potato: Yield gap',
       'Rapeseed: Attainable yield', 'Rapeseed: Yield',
       'Rapeseed: Yield gap', 'Rice: Attainable yield', 'Rice: Yield',
       'Rice: Yield gap', 'Rye: Attainable yield', 'Rye: Yield',
       'Rye: Yield gap', 'Sorghum: Attainable yield', 'Sorghum: Yield',
       'Sorghum: Yield gap', 'Soybean: Attainable yield',
       'Soybean: Yield', 'Soybean: Yield gap',
       'Sugar beet: Attainable yield', 'Sugar beet: Yield',
       'Sugar beet: Yield gap', 'Sugarcane: Attainable yield',
       'Sugarcane: Yield', 'Sugarcane: Yield gap',
       'Sunflower seed: Attainable yield', 'Sunflower seed: Yield',
       'Sunflower seed: Yield gap', 'Tomato: Yield',
       'Wheat: Attainable yield', 'Wheat: Yield', 'Wheat: Yield gap',
       'abaca__manila_hemp__raw_yield', 'agave_fibres__raw__n_e_c__yield',
       'apples_yield', 'apricots_yield', 'areca_nuts_yield',
       'artichokes_yield', 'asparagus_yield', 'avocados_yield',
       'bambara_beans__dry_yield', 'beans__green_yield',
       'blueberries_yield', 'broad_beans_and_horse_beans__green_yield',
       'broad_beans_yield', 'buckwheat_yield', 'cabbages_yield',
       'canary_seed_yield', 'carrots_and_turnips_yield',
       'cashew_nuts_yield', 'cashewapple_yield', 'cassava_leaves_yield',
       'castor_oil_seed_yield', 'cauliflowers_and_broccoli_yield',
       'cereals_n_e_c__yield', 'cherries_yield', 'chestnut_yield',
       'chickpeas_yield', 'chicory_roots_yield',
       'chillies_and_peppers__green__capsicum_spp__and_pimenta_spp__yield',
       'chillies_and_peppers_yield',
       'cinnamon_and_cinnamon_tree_flowers__raw_yield',
       'citrus_fruit_yield', 'cloves__whole_stems__raw_yield',
       'coconuts_yield', 'cow_peas_yield', 'cranberries_yield',
       'cucumbers_and_gherkins_yield', 'currants_yield', 'dates_yield',
       'edible_roots_and_tubers_with_high_starch_or_inulin_content__n_e_c__fresh_yield',
       'eggplants_yield', 'fibre_crops__fibre_equivalent_yield',
       'fibre_crops_yield', 'figs_yield', 'flax__raw_or_retted_yield',
       'fonio_yield', 'fruit_yield', 'garlic_yield', 'ginger__raw_yield',
       'gooseberries_yield', 'grapefruit_yield', 'grapes_yield',
       'green_maize_yield', 'hazelnuts_yield', 'hempseed_yield',
       'herbs__e_g__fennel__yield', 'hop_cones_yield',
       'jojoba_seeds_yield', 'jute_yield', 'kapok_fruit_yield',
       'karite_nuts_yield',
       'kenaf__and_other_textile_bast_fibres__raw_or_retted_yield',
       'kiwi_yield', 'kola_nuts_yield', 'leeks_yield',
       'lemons_and_limes_yield', 'lentils_yield', 'linseed_yield',
       'locust_beans__carobs__yield', 'lupins_yield', 'mangoes_yield',
       'mate_leaves_yield', 'melon_yield', 'melonseed_yield',
       'mixed_grains_yield', 'mustard_seed_yield',
       'natural_rubber_in_primary_forms_yield',
       'nutmeg__mace__cardamoms__raw_yield',
       'oilcrops__cake_equivalent_yield',
       'oilcrops__oil_equivalent_yield', 'okra_yield', 'olives_yield',
       'onions_and_shallots__green_yield', 'onions_yield',
       'other_berries_and_fruits_of_the_genus_vaccinium_n_e_c__yield',
       'other_citrus_fruit__n_e_c__yield', 'other_fruits__n_e_c__yield',
       'other_nuts__excluding_wild_edible_nuts_and_groundnuts__in_shell__n_e_c__yield',
       'other_oil_seeds__n_e_c__yield', 'other_pome_fruits_yield',
       'other_pulses_n_e_c__yield',
       'other_stimulant__spice_and_aromatic_crops__n_e_c__yield',
       'other_stone_fruits_yield', 'other_sugar_crops_n_e_c__yield',
       'other_tropical_fruits__n_e_c__yield',
       'other_vegetables__fresh_n_e_c__yield', 'papayas_yield',
       'peaches_and_nectarines_yield', 'pears_yield', 'peas__green_yield',
       'pepper_yield', 'peppermint__spearmint_yield', 'persimmons_yield',
       'pigeon_peas_yield', 'pineapples_yield', 'pistachios_yield',
       'plantains_yield', 'plums_yield', 'poppy_seeds_yield',
       'pulses_yield', 'pumpkins__squash_and_gourds_yield',
       'pyrethrum__dried_flowers_yield', 'quinces_yield', 'quinoa_yield',
       'ramie__raw_or_retted_yield', 'raspberries_yield',
       'roots_and_tubers_yield', 'safflower_seed_yield',
       'sesame_seed_yield', 'sisal__raw_yield', 'sour_cherries_yield',
       'spinach_yield', 'strawberries_yield', 'string_beans_yield',
       'sugar_crops_yield', 'sweet_potatoes_yield',
       'tallowtree_seeds_yield', 'tangerines_yield', 'taro_yield',
       'tea_yield', 'tobacco_yield', 'treenuts_yield', 'triticale_yield',
       'true_hemp__raw_or_retted_yield', 'tung_nuts_yield',
       'vanilla__raw_yield', 'vegetables_yield', 'vetches_yield',
       'walnuts_yield', 'watermelons_yield', 'yams_yield', 'yautia_yield'],
      dtype=object)

In [106]:
cy = ylds.loc[:, ['Year', 'Cereal: Yield']]
cy

    Year  Cereal: Yield
0   1985         1.5922
1   1986         1.5854
2   1987         1.5837
3   1988         1.7758
4   1989         1.9164
5   1990         1.8912
6   1991         1.9263
7   1992         2.0248
8   1993         2.0849
9   1994         2.1155
10  1995         2.1117
11  1996         2.1810
12  1997         2.2286
13  1998         2.2484
14  1999         2.3137
15  2000         2.2942
16  2001         2.4231
17  2002         2.1873
18  2003         2.3994
19  2004         2.3500
20  2005         2.4116
21  2006         2.4465
22  2007         2.5833
23  2008         2.6379
24  2009         2.5808
25  2010         2.6764
26  2011         2.8607
27  2012         2.9635
28  2013         2.9775
29  2014         2.9664
30  2015         2.8540
31  2016         2.9951
32  2017         3.1277
33  2018         3.2781
34  2019         3.4161
35  2020         3.3834
36  2021         3.4979
37  2022         3.5666

In [107]:
cy = cy.rename(columns={'Cereal: Yield': 'C_Yld'})
cy = cy.set_index(cy['Year'].values)
cy.head(3)

      Year   C_Yld
1985  1985  1.5922
1986  1986  1.5854
1987  1987  1.5837

In [108]:
cy.columns.values

array(['Year', 'C_Yld'], dtype=object)

In [109]:
cy = cy.drop('Year',axis=1)
cy.head(3)

       C_Yld
1985  1.5922
1986  1.5854
1987  1.5837

In [110]:
cy = cy.loc[1990:2020, :]
cy.head(3)

       C_Yld
1990  1.8912
1991  1.9263
1992  2.0248

## DCSP

In [111]:
dcsp = pd.read_csv(r'CSVs\daily-per-capita-caloric-supply.csv')

In [112]:
dcsp = dcsp.set_index(dcsp['Year'].values)
dcsp = dcsp.rename(columns = {'Daily calorie supply per person': 'DCSP'})
dcsp = pd.DataFrame(dcsp['DCSP']).loc[1990:2020, :]
dcsp.head()

           DCSP
1990  2201.0454
1991  2290.3003
1992  2323.1700
1993  2256.1570
1994  2275.4902

In [113]:
dcsp.size

31

## CH4 Emmisions

In [114]:
ch4_full = pd.read_csv(r'CSVs\FAOSTAT_data_en_CH4_Emissions.csv')
ch4_full.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,EM,Emissions indicators,356,India,7265,Emissions Share (CH4),1711,IPCC Agriculture,1990,1990,%,70.82,E,Estimated value
1,EM,Emissions indicators,356,India,7265,Emissions Share (CH4),1711,IPCC Agriculture,1991,1991,%,70.42,E,Estimated value
2,EM,Emissions indicators,356,India,7265,Emissions Share (CH4),1711,IPCC Agriculture,1992,1992,%,70.16,E,Estimated value
3,EM,Emissions indicators,356,India,7265,Emissions Share (CH4),1711,IPCC Agriculture,1993,1993,%,70.61,E,Estimated value
4,EM,Emissions indicators,356,India,7265,Emissions Share (CH4),1711,IPCC Agriculture,1994,1994,%,70.31,E,Estimated value

In [115]:
ch4 = ch4_full.loc[:, 'Value'].to_frame().set_index(ch4_full['Year'].values).loc[1990:2020, :]
ch4.head()

      Value
1990  70.82
1991  70.42
1992  70.16
1993  70.61
1994  70.31

In [116]:
ch4 = ch4.rename(columns= {'Value': 'CH4_EMSN'})
ch4

      CH4_EMSN
1990     70.82
1991     70.42
1992     70.16
1993     70.61
1994     70.31
1995     69.56
1996     69.40
1997     68.66
1998     68.76
1999     68.27
2000     67.94
2001     67.81
2002     66.93
2003     66.45
2004     66.02
2005     66.15
2006     66.02
2007     65.77
2008     65.28
2009     63.53
2010     63.31
2011     63.09
2012     62.33
2013     64.69
2014     64.15
2015     63.85
2016     63.73
2017     63.43
2018     62.94
2019     63.12
2020     63.78

## Temp_Change

In [117]:
tempchg_full = pd.read_csv(r'CSVs\FAOSTAT_data_Temp_Change.csv')

In [118]:
tempchg_full['Year'].values

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [119]:
tempchg = tempchg_full.loc[29:59, ["Value"]].set_index(tempchg_full['Year'].values[29:60])

In [120]:
tempchg.rename(columns= {'Value': "TEMP_CHG"}, inplace=True)

In [121]:
tempchg

      TEMP_CHG
1990    -0.098
1991     0.179
1992     0.017
1993     0.211
1994     0.100
1995     0.224
1996     0.319
1997    -0.092
1998     0.588
1999     0.467
2000     0.356
2001     0.479
2002     0.831
2003     0.689
2004     0.570
2005     0.606
2006     0.685
2007     0.636
2008     0.303
2009     1.176
2010     1.159
2011     0.364
2012     0.487
2013     0.445
2014     0.536
2015     0.705
2016     1.077
2017     0.962
2018     0.881
2019     0.813
2020     0.529

## RFWC

In [122]:
rfwc_full = pd.read_csv(r'CSVs\renewable-water-resources-per-capita.csv')
rfwc_full.head()

,Entity,Code,Year,Renewable internal freshwater resources per capita (cubic meters)
0,India,IND,1985,1853.2710
1,India,IND,1986,1812.3049
2,India,IND,1987,1772.6755
3,India,IND,1988,1734.3751
4,India,IND,1989,1697.1578

In [123]:
rfwc = rfwc_full.loc[1990-1985:2020-1985, "Renewable internal freshwater resources per capita (cubic meters)"].to_frame() \
    .set_index(rfwc_full['Year'].values[1990-1985:2021-1985]) \
        .rename(columns= {'Renewable internal freshwater resources per capita (cubic meters)': 'RFWC'})

In [124]:
rfwc

           RFWC
1990  1661.2056
1991  1626.6532
1992  1593.2584
1993  1560.9629
1994  1529.7347
1995  1499.5658
1996  1470.5864
1997  1442.6311
1998  1415.6560
1999  1389.7164
2000  1364.6226
2001  1340.1659
2002  1316.5646
2003  1294.0580
2004  1272.5910
2005  1252.3398
2006  1233.3950
2007  1215.4408
2008  1198.2749
2009  1181.7200
2010  1165.5522
2011  1149.7898
2012  1134.5740
2013  1119.9474
2014  1106.1418
2015  1093.0808
2016  1080.2037
2017  1067.7925
2018  1056.2429
2019  1045.4684
2020  1035.5294

## EXT_WTH_EVTS

In [125]:
bl = pd.read_excel(r'CSVs\public_emdat_custom_request_2024-12-01_5dff3569-ccab-4617-ab8f-6864f292db20.xlsx', sheet_name='EM-DAT Data')

In [126]:
bl_2 = bl.loc[:, 'Start Year']

In [127]:
bl_2.values

array([1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990,
       1990, 1990, 1990, 1991, 1991, 1991, 1991, 1991, 1991, 1991, 1991,
       1991, 1991, 1991, 1992, 1992, 1992, 1992, 1992, 1992, 1992, 1992,
       1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993, 1993,
       1993, 1994, 1994, 1994, 1994, 1994, 1994, 1995, 1995, 1995, 1995,
       1995, 1995, 1995, 1995, 1995, 1996, 1996, 1996, 1996, 1996, 1996,
       1996, 1996, 1996, 1996, 1996, 1996, 1996, 1997, 1997, 1997, 1997,
       1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1998, 1998,
       1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998, 1998,
       1998, 1998, 1998, 1999, 1999, 1999, 1999, 1999, 1999, 1999, 1999,
       1999, 1999, 1999, 1999, 1999, 2000, 2000, 2000, 2000, 2000, 2000,
       2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000,
       2000, 2000, 2000, 2000, 2001, 2001, 2001, 2001, 2001, 2001, 2001,
       2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001, 2001,
       2001, 2001, 2001, 2001, 2002, 2002, 2002, 2002, 2002, 2002, 2002,
       2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002, 2002,
       2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003, 2003,
       2003, 2003, 2003, 2003, 2003, 2003, 2004, 2004, 2004, 2004, 2004,
       2004, 2004, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005,
       2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005,
       2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005, 2005,
       2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006,
       2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2006, 2007, 2007,
       2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007, 2007,
       2007, 2007, 2007, 2007, 2007, 2007, 2007, 2008, 2008, 2008, 2008,
       2008, 2008, 2008, 2008, 2008, 2008, 2008, 2009, 2009, 2009, 2009,
       2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2010, 2009, 2009,
       2009, 2009, 2009, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010,
       2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2011, 2011,
       2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,
       2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2013,
       2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013,
       2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014,
       2014, 2014, 2014, 2014, 2014, 2015, 2015, 2015, 2015, 2015, 2015,
       2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015,
       2015, 2015, 2015, 2015, 2015, 2016, 2016, 2016, 2016, 2016, 2016,
       2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2017,
       2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017,
       2017, 2017, 2017, 2017, 2017, 2017, 2018, 2018, 2018, 2018, 2018,
       2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018,
       2018, 2018, 2018, 2018, 2018, 2018, 2018, 2019, 2019, 2019, 2019,
       2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2020,
       2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2021,
       2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021,
       2021, 2021, 2021, 2021, 2021, 2021, 2021, 2022, 2022, 2022, 2022,
       2022, 2022, 2022, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023,
       2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2024, 2024,
       2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024])

In [128]:
counter = 0
temp = bl_2.values[0]
output = {}
for x in range(len(bl_2.values)):
    pntr = bl_2.values[x]
    if pntr == temp:
        counter += 1
        print(f'''
              A
              x : {x}
              Counter: {counter}, 
              temp: {temp}, 
              pntr: {pntr}
-----------------------------''')
        if x == len(bl_2.values) -1:
            output.update({temp:counter})
            print(f'''
              B
              x : {x}
              Counter: {counter}, 
              temp: {temp}, 
              pntr: {pntr}
              {output}
-----------------------------''')
        
    else:
        output.update({temp:counter})
        temp = bl_2.values[x]
        counter = 1
        print(f'''
              C
              x : {x}
              Counter: {counter}, 
              temp: {temp}, 
              pntr: {pntr}
              {output}
-----------------------------''')

              A
              x : 0
              Counter: 1,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 1
              Counter: 2,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 2
              Counter: 3,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 3
              Counter: 4,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 4
              Counter: 5,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 5
              Counter: 6,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 6
              Counter: 7,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 7
              Counter: 8,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 8
              Counter: 9,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 9
              Counter: 10,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 10
              Counter: 11,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 11
              Counter: 12,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 12
              Counter: 13,
              temp: 1990,
              pntr: 1990
-----------------------------

              A
              x : 13
              Counter: 14,
              temp: 1990,
              pntr: 1990
-----------------------------

              C
              x : 14
              Counter: 1,
              temp: 1991,
              pntr: 1991
              {np.int64(1990): 14}
-----------------------------

              A
              x : 15
              Counter: 2,
              temp: 1991,
              pntr: 1991
-----------------------------

              A
              x : 16
              Counter: 3,
              temp: 1991,
              pntr: 1991
-----------------------------

              A
              x : 17
              Counter: 4,
              temp: 1991,
              pntr: 1991
-----------------------------

              A
              x : 18
              Counter: 5,
              temp: 1991,
              pntr: 1991
-----------------------------

              A
              x : 19
              Counter: 6,
              temp: 1991,
              pntr: 1991
-----------------------------

              A
              x : 20
              Counter: 7,
              temp: 1991,
              pntr: 1991
-----------------------------

              A
              x : 21
              Counter: 8,
              temp: 1991,
              pntr: 1991
-----------------------------

              A
              x : 22
              Counter: 9,
              temp: 1991,
              pntr: 1991
-----------------------------

              A
              x : 23
              Counter: 10,
              temp: 1991,
              pntr: 1991
-----------------------------

              A
              x : 24
              Counter: 11,
              temp: 1991,
              pntr: 1991
-----------------------------

              C
              x : 25
              Counter: 1,
              temp: 1992,
              pntr: 1992
              {np.int64(1990): 14, np.int64(1991): 11}
-----------------------------

              A
              x : 26
              Counter: 2,
              temp: 1992,
              pntr: 1992
-----------------------------

              A
              x : 27
              Counter: 3,
              temp: 1992,
              pntr: 1992
-----------------------------

              A
              x : 28
              Counter: 4,
              temp: 1992,
              pntr: 1992
-----------------------------

              A
              x : 29
              Counter: 5,
              temp: 1992,
              pntr: 1992
-----------------------------

              A
              x : 30
              Counter: 6,
              temp: 1992,
              pntr: 1992
-----------------------------

              A
              x : 31
              Counter: 7,
              temp: 1992,
              pntr: 1992
-----------------------------

              A
              x : 32
              Counter: 8,
              temp: 1992,
              pntr: 1992
-----------------------------

              C
              x : 33
              Counter: 1,
              temp: 1993,
              pntr: 1993
              {np.int64(1990): 14, np.int64(1991): 11, np.int64(1992): 8}
-----------------------------

              A
              x : 34
              Counter: 2,
              temp: 1993,
              pntr: 1993
-----------------------------

              A
              x : 35
              Counter: 3,
              temp: 1993,
              pntr: 1993
-----------------------------

              A
              x : 36
              Counter: 4,
              temp: 1993,
              pntr: 1993
-----------------------------

              A
              x : 37
              Counter: 5,
              temp: 1993,
              pntr: 1993
-----------------------------

              A
              x : 38
              Counter: 6,
              temp: 1993,
              pntr: 1993
-----------------------------

              A
              x : 39
              Counter: 7,
              temp: 1993,
              pntr: 1993
-----------------------------

              A
              x : 40
              Counter: 8,
              temp: 1993,
              pntr: 1993
-----------------------------

              A
              x : 41
              Counter: 9,
              temp: 1993,
              pntr: 1993
-----------------------------

              A
              x : 42
              Counter: 10,
              temp: 1993,
              pntr: 1993
-----------------------------

              A
              x : 43
              Counter: 11,
              temp: 1993,
              pntr: 1993
-----------------------------

              A
              x : 44
              Counter: 12,
              temp: 1993,
              pntr: 1993
-----------------------------

              C
              x : 45
              Counter: 1,
              temp: 1994,
              pntr: 1994
              {np.int64(1990): 14, np.int64(1991): 11, np.int64(1992): 8, np.int64(1993): 12}
-----------------------------

              A
              x : 46
              Counter: 2,
              temp: 1994,
              pntr: 1994
-----------------------------

              A
              x : 47
              Counter: 3,
              temp: 1994,
              pntr: 1994
-----------------------------

              A
              x : 48
              Counter: 4,
              temp: 1994,
              pntr: 1994
-----------------------------

              A
              x : 49
              Counter: 5,
              temp: 1994,
              pntr: 1994
-----------------------------

              A
              x : 50
              Counter: 6,
              temp: 1994,
              pntr: 1994
-----------------------------

              C
              x : 51
              Counter: 1,
              temp: 1995,
              pntr: 1995
              {np.int64(1990): 14, np.int64(1991): 11, np.int64(1992): 8, np.int64(1993): 12, np.int64(1994): 6}
-----------------------------

              A
              x : 52
              Counter: 2,
              temp: 1995,
              pntr: 1995
-----------------------------

              A
              x : 53
              Counter: 3,
              temp: 1995,
              pntr: 1995
-----------------------------

              A
              x : 54
              Counter: 4,
              temp: 1995,
              pntr: 1995
-----------------------------

              A
              x : 55
              Counter: 5,
              temp: 1995,
              pntr: 1995
-----------------------------

              A
              x : 56
              Counter: 6,
              temp: 1995,
              pntr: 1995
-----------------------------

              A
              x : 57
              Counter: 7,
              temp: 1995,
              pntr: 1995
-----------------------------

              A
              x : 58
              Counter: 8,
              temp: 1995,
              pntr: 1995
-----------------------------

              A
              x : 59
              Counter: 9,
              temp: 1995,
              pntr: 1995
-----------------------------

              C
              x : 60
              Counter: 1,
              temp: 1996,
              pntr: 1996
              {np.int64(1990): 14, np.int64(1991): 11, np.int64(1992): 8, np.int64(1993): 12, np.int64(1994): 6, np.int64(1995): 9}
-----------------------------

              A
              x : 61
              Counter: 2,
              temp: 1996,
              pntr: 1996
-----------------------------

              A
              x : 62
              Counter: 3,
              temp: 1996,
              pntr: 1996
-----------------------------

              A
              x : 63
              Counter: 4,
              temp: 1996,
              pntr: 1996
-----------------------------

              A
              x : 64
              Counter: 5,
              temp: 1996,
              pntr: 1996
-----------------------------

              A
              x : 65
              Counter: 6,
              temp: 1996,
              pntr: 1996
-----------------------------

              A
              x : 66
              Counter: 7,
              temp: 1996,
              pntr: 1996
-----------------------------

              A
              x : 67
              Counter: 8,
              temp: 1996,
              pntr: 1996
-----------------------------

              A
              x : 68
              Counter: 9,
              temp: 1996,
              pntr: 1996
-----------------------------

              A
              x : 69
              Counter: 10,
              temp: 1996,
              pntr: 1996
-----------------------------

              A
              x : 70
              Counter: 11,
              temp: 1996,
              pntr: 1996
-----------------------------

              A
              x : 71
              Counter: 12,
              temp: 1996,
              pntr: 1996
-----------------------------

              A
              x : 72
              Counter: 13,
              temp: 1996,
              pntr: 1996
-----------------------------

              C
              x : 73
              Counter: 1,
              temp: 1997,
              pntr: 1997
              {np.int64(1990): 14, np.int64(1991): 11, np.int64(1992): 8, np.int64(1993): 12, np.int64(1994): 6, np.int64(1995): 9, np.int64(1996): 13}
-----------------------------

              A
              x : 74
              Counter: 2,
              temp: 1997,
              pntr: 1997
-----------------------------

              A
              x : 75
              Counter: 3,
              temp: 1997,
              pntr: 1997
-----------------------------

              A
              x : 76
              Counter: 4,
              temp: 1997,
              pntr: 1997
-----------------------------

              A
              x : 77
              Counter: 5,
              temp: 1997,
              pntr: 1997
-----------------------------

              A
              x : 78
              Counter: 6,
              temp: 1997,
              pntr: 1997
-----------------------------

              A
              x : 79
              Counter: 7,
              temp: 1997,
              pntr: 1997
-----------------------------

              A
              x : 80
              Counter: 8,
              temp: 1997,
              pntr: 1997
-----------------------------

              A
              x : 81
              Counter: 9,
              temp: 1997,
              pntr: 1997
-----------------------------

              A
              x : 82
              Counter: 10,
              temp: 1997,
              pntr: 1997
-----------------------------

              A
              x : 83
              Counter: 11,
              temp: 1997,
              pntr: 1997
-----------------------------

              A
              x : 84
              Counter: 12,
              temp: 1997,
              pntr: 1997
-----------------------------

              A
              x : 85
              Counter: 13,
              temp: 1997,
              pntr: 1997
-----------------------------

              C
              x : 86
              Counter: 1,
              temp: 1998,
              pntr: 1998
              {np.int64(1990): 14, np.int64(1991): 11, np.int64(1992): 8, np.int64(1993): 12, np.int64(1994): 6, np.int64(1995): 9, np.int64(1996): 13, np.int64(1997): 13}
-----------------------------

              A
              x : 87
              Counter: 2,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 88
              Counter: 3,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 89
              Counter: 4,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 90
              Counter: 5,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 91
              Counter: 6,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 92
              Counter: 7,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 93
              Counter: 8,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 94
              Counter: 9,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 95
              Counter: 10,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 96
              Counter: 11,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 97
              Counter: 12,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 98
              Counter: 13,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 99
              Counter: 14,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 100
              Counter: 15,
              temp: 1998,
              pntr: 1998
-----------------------------

              A
              x : 101
              Counter: 16,
              temp: 1998,
              pntr: 1998
-----------------------------

              C
              x : 102
              Counter: 1,
              temp: 1999,
              pntr: 1999
              {np.int64(1990): 14, np.int64(1991): 11, np.int64(1992): 8, np.int64(1993): 12, np.int64(1994): 6, np.int64(1995): 9, np.int64(1996): 13, np.int64(1997): 13, np.int64(1998): 16}
-----------------------------

              A
              x : 103
              Counter: 2,
              temp: 1999,
              pntr: 1999
-----------------------------

              A
              x : 104
              Counter: 3,
              temp: 1999,
              pntr: 1999
-----------------------------

              A
              x : 105
              Counter: 4,
              temp: 1999,
              pntr: 1999
-----------------------------

              A
              x : 106
              Counter: 5,
              temp: 1999,
              pntr: 1999
-----------------------------

              A
              x : 107
              Counter: 6,
              temp: 1999,
              pntr: 1999
-----------------------------

              A
              x : 108
              Counter: 7,
              temp: 1999,
              pntr: 1999
-----------------------------

              A
              x : 109
              Counter: 8,
              temp: 1999,
              pntr: 1999
-----------------------------

              A
              x : 110
              Counter: 9,
              temp: 1999,
              pntr: 1999
-----------------------------

              A
              x : 111
              Counter: 10,
              temp: 1999,
              pntr: 1999
-----------------------------

              A
              x : 112
              Counter: 11,
              temp: 1999,
              pntr: 1999
-----------------------------

              A
              x : 113
              Counter: 12,
              temp: 1999,
              pntr: 1999
-----------------------------

              A
              x : 114
              Counter: 13,
              temp: 1999,
              pntr: 1999
-----------------------------

              C
              x : 115
              Counter: 1,
              temp: 2000,
              pntr: 2000
              {np.int64(1990): 14, np.int64(1991): 11, np.int64(1992): 8, np.int64(1993): 12, np.int64(1994): 6, np.int64(1995): 9, np.int64(1996): 13, np.int64(1997): 13, np.int64(1998): 16, np.int64(1999): 13}
-----------------------------

              A
              x : 116
              Counter: 2,
              temp: 2000,
              pntr: 2000
-----------------------------

              A
              x : 117
              Counter: 3,
              temp: 2000,
              pntr: 2000
-----------------------------

              A
              x : 118
              Counter: 4,
              temp: 2000,
              pntr: 2000
-----------------------------

              A
              x : 119
              Counter: 5,
              temp: 2000,
              pntr: 2000
-----------------------------

              A
              x : 120
              Counter: 6,
              temp: 2000,
              pntr: 2000
-----------------------------

              A
              x : 121
              Counter: 7,
              temp: 2000,
              pntr: 2000
-----------------------------

              A
              x : 122
              Counter: 8,
              temp: 2000,
              pntr: 2000
-----------------------------

              A
              x : 123
              Counter: 9,
              temp: 2000,
              pntr: 2000
-----------------------------

              A
              x : 124
              Counter: 10,
              temp: 2000,
              pntr: 2000
-----------------------------

              A
              x : 125
              Counter: 11,
              temp: 2000,
              pntr: 2000
-----------------------------

              A
              x : 126
              Counter: 12,
              temp: 2000,
              pntr: 2000
-----------------------------

              A
              x : 127
              Counter: 13,
              temp: 2000,
              pntr: 2000
-----------------------------

              A
              x : 128
              Counter: 14,
              temp: 2000,
              pntr: 2000
-----------------------------


In [129]:
output

{np.int64(1990): 14,
 np.int64(1991): 11,
 np.int64(1992): 8,
 np.int64(1993): 12,
 np.int64(1994): 6,
 np.int64(1995): 9,
 np.int64(1996): 13,
 np.int64(1997): 13,
 np.int64(1998): 16,
 np.int64(1999): 13,
 np.int64(2000): 21,
 np.int64(2001): 22,
 np.int64(2002): 18,
 np.int64(2003): 17,
 np.int64(2004): 7,
 np.int64(2005): 31,
 np.int64(2006): 20,
 np.int64(2007): 20,
 np.int64(2008): 11,
 np.int64(2009): 5,
 np.int64(2010): 17,
 np.int64(2011): 13,
 np.int64(2012): 10,
 np.int64(2013): 12,
 np.int64(2014): 16,
 np.int64(2015): 22,
 np.int64(2016): 16,
 np.int64(2017): 18,
 np.int64(2018): 23,
 np.int64(2019): 14,
 np.int64(2020): 11,
 np.int64(2021): 19,
 np.int64(2022): 7,
 np.int64(2023): 17,
 np.int64(2024): 11}

In [130]:
ext_eve = pd.DataFrame({'FREQ_EXT_EVE': output})
ext_eve.index = [x for x in range(1990, 2025)]
ext_eve = ext_eve.loc[1990:2020, :]

In [131]:
ext_eve.tail()

      FREQ_EXT_EVE
2016            16
2017            18
2018            23
2019            14
2020            11

## Population Growth

In [132]:
popgrwfull = pd.read_csv(r'CSVs\population-growth-rates.csv')

In [133]:
popgrwfull.head()

,Entity,Code,Year,Population growth rate - Sex: all - Age: all - Variant: estimates,Population growth rate - Sex: all - Age: all - Variant: medium
0,India,IND,1985,2.314,NaN
1,India,IND,1986,2.303,NaN
2,India,IND,1987,2.259,NaN
3,India,IND,1988,2.242,NaN
4,India,IND,1989,2.228,NaN

In [134]:
popgrw = popgrwfull.iloc[1990-1985:2021-1985, 3].to_frame()\
    .set_index(popgrwfull['Year'].values[1990-1985:2021-1985])\
    .rename(columns= {'Population growth rate - Sex: all - Age: all - Variant: estimates': 'POP_GRW'})

In [135]:
popgrw.tail()

      POP_GRW
2016    1.212
2017    1.114
2018    1.081
2019    0.999
2020    0.948

## GDP

In [136]:
gdp = pd.read_excel(r'CSVs\WITS-Country-Timeseries (1)_GDP.xlsx', sheet_name='Country-Timeseries')
gdp.head()

,Country Name,Indicator Name,1988,1989,1990,1991,1992,1993,1994,1995,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,India,GDP per capita (current US$),355.738418,347.462037,368.749759,303.850438,317.558735,301.500786,346.227393,373.628234,...,1438.056995,1559.863772,1590.174322,1714.279541,1957.969814,1974.37773,2050.16379,1913.219721,2238.127139,2388.621198

In [137]:
gdp = gdp.loc[0, [str(x) for x in range(1990, 2021)]].to_frame()

In [138]:
gdp.head()

               0
1990  368.749759
1991  303.850438
1992  317.558735
1993  301.500786
1994  346.227393

In [139]:
gdp = gdp.rename(columns= {0: 'GDP'})

In [140]:
gdp.index = [int(x) for x in range(1990, 2021)]

In [141]:
gdp.head()

             GDP
1990  368.749759
1991  303.850438
1992  317.558735
1993  301.500786
1994  346.227393

## Final Combination

In [142]:
display(TFP_ind.head(3))
display(precip.head(3))
display(cy.head(3))
display(dcsp.head(3))
display(ch4.head(3))

display(tempchg.head(3))
display(rfwc.head(3))
display(ext_eve.head(3))
display(popgrw.head(3))
display(gdp.head(3))

      AG_TFP_IND
1990   68.606299
1991   68.649885
1992   70.082351

       ANN_PRCP
1990  1431.0149
1991  1134.9230
1992  1000.0663

       C_Yld
1990  1.8912
1991  1.9263
1992  2.0248

           DCSP
1990  2201.0454
1991  2290.3003
1992  2323.1700

      CH4_EMSN
1990     70.82
1991     70.42
1992     70.16

      TEMP_CHG
1990    -0.098
1991     0.179
1992     0.017

           RFWC
1990  1661.2056
1991  1626.6532
1992  1593.2584

      FREQ_EXT_EVE
1990            14
1991            11
1992             8

      POP_GRW
1990    2.199
1991    2.137
1992    2.123

             GDP
1990  368.749759
1991  303.850438
1992  317.558735

In [143]:
#checking if every dataframe has the same count of values before concatenation

dfs = [dcsp, tempchg, precip, ext_eve, TFP_ind, gdp, popgrw, cy, rfwc, ch4]
dfs_ind_dtype = []
for x in dfs:
    dfs_ind_dtype.append(x.index.size)
print(dfs_ind_dtype)

[31, 31, 31, 31, 31, 31, 31, 31, 31, 31]

In [144]:
finaldf = pd.concat(dfs, axis = 1)
finaldf.head()

,DCSP,TEMP_CHG,ANN_PRCP,FREQ_EXT_EVE,AG_TFP_IND,GDP,POP_GRW,C_Yld,RFWC,CH4_EMSN
1990,2201.0454,-0.098,1431.0149,14,68.606299,368.749759,2.199,1.8912,1661.2056,70.82
1991,2290.3003,0.179,1134.9230,11,68.649885,303.850438,2.137,1.9263,1626.6532,70.42
1992,2323.1700,0.017,1000.0663,8,70.082351,317.558735,2.123,2.0248,1593.2584,70.16
1993,2256.1570,0.211,1174.9967,12,70.409601,301.500786,2.077,2.0849,1560.9629,70.61
1994,2275.4902,0.100,1275.7301,6,71.166750,346.227393,2.012,2.1155,1529.7347,70.31

In [145]:
finaldf.to_csv(r'CSVs/Combined_CSV.csv', index_label= 'Year')